<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.nicosantux.sketchybar.wifi-helper</string>
  <key>CFBundleName</key>
  <string>WiFiHelper</string>
  <key>CFBundleExecutable</key>
  <string>wifi-helper</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSLocationUsageDescription</key>
  <string>SketchyBar needs Location access to read Wi-Fi network names.</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>SketchyBar needs Location access to read Wi-Fi network names.</string>
</dict>
</plist>
